<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<head>
    <title>Login</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />

    <style>
        body {
            background-color: #d1d1d1fd;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center">Welcome to Animation Movies List</h1>
        <h6 class="text-center">Please sign in or sign up to our list</h6>
        <div class="row justify-content-center align-items-center" style="height: 30vh;">
            <div class="col-md-6">

                <div class="alert alert-danger" th:if="${param.error}">
                    Invalid username and password.
                </div>
                <div class="alert alert-warning" th:if="${param.logout}">
                    You have been logged out.
                </div>
                <form th:action="@{/login}" method="post">
                    <div><label> User Name : <input type="text" name="username" class="form-control" /> </label></div>
                    <div><label> Password: <input type="password" name="password" class="form-control" /> </label></div>
                    <div><input type="submit" value="Sign In" class="btn btn-primary" /></div>
                </form>
                <a th:href="@{/signup}">Sign-up</a>
            </div>
        </div>
    </div>
</body>

</html>